// для сетки
.content-search {
  padding: 29px 20px 40px 20px;
  text-align: center;
  border: 1px solid red;
}

.content-search__caption {
  font-size: 21px;
}

.content-search__text {
  line-height: 24px;
}

// стили голубой кнопки "найти гостинницу"
.content-search__button {
  width: 210px;
  height: 30px;
  margin-top: 40px;
  padding: 15px 35px 15px 35px;
}
