.section-contacts {
  border: 1px solid red;
}

.section-contacts__label {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.section-contacts__input {
  padding: 15px;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  line-height: 26px;

  background-color: #f2f2f2;
  border: none;
}
