.section__textarea--comment {
  width: 80%;
  height: 160px;
  margin: 0 6.5%;
  margin-bottom: 50px;
  padding: 15px;

  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;

  text-align: left;
  vertical-align: middle;

  background-color: $color-background-gray;
  border: none;
}
