.section__content--contacts {
  display: flex;
  flex-direction: column;

  width: 85%;
  margin: 0 auto;
  padding-bottom: 8px;
}

.section__label--contacts {
  margin-left: 18px;
  margin-bottom: 10px;
}

.section__input--contacts {
  flex-grow: 1;
  margin-bottom: 18px;
}
