// моя верстка
.section__content--full-name {
  display: flex;
  flex-wrap: wrap;

  width: 85%;
  margin: 0 auto;
  padding-bottom: 8px;
}

.section__label--full-name {
  width: 25%;
  margin-right: 5%;
  padding-top: 16px;
}

.section__label--long-small {
  width: 12%;
}

.section__input--full-name {
  width: 58%;
  flex-grow: 1;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .section__label--full-name {
    width: 15%;
  }

  .section__label--long-small {
    width: 8%;
  }

  .section__input--full-name {
    width: 68%;
    flex-grow: 1;
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .form-feedback__section--full-name {
    width: 42%;
  }

  .section__label--full-name {
    width: 20%;
    //margin-right: 5%;
    padding-top: 16px;

    border: 1px solid red;
  }

  .section__label--long-small {
    //width: 12%;
  }

  .section__input--full-name {
    width: 50%;
    flex-grow: 1;
    margin-bottom: 20px;
  }
}
