.social {
  position: relative;
  width: 150px;
  margin: 0 auto;
  margin-top: 11.8%;
  height: 50px;
}

.social__link {
  display: inline-block;
}

.social__link::before {
  content: " ";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;

  background-color: #81b3d2;
}

.social__link--twitter::before {
  top: 0;
  left: -5px;
}

.social__link--facebook::before {
  top: 0;
  left: 55px;
}

.social__link--youtube::before {
  top: 0;
  left: 115px;
}

.social__link .visually-hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .social {
    margin-left: 20%;
  }
}

@media (min-width: $desctop-width) {
  .social {
    margin-left: 27%;
  }
}
